<IfModule mod_rewrite.c>
Options -Indexes
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME}!-f
RewriteCond %{REQUEST_FILENAME}!-d
RewriteCond	$1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$/Telkom_akses/index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /Telkom_akses/index.php
</IfModule>